* {
  margin: 0;
}

body {}

main,
footer {
  padding: 20px;
}

h1 {
  font-size: 2.5em;
}

p,
section {
  padding-bottom: 20px;
}

ul {
  padding: 0;
  margin-left: 15px;
}

.highlight {
  background-color: yellow;
}

/******header*****/
header {
  padding-top: 40px;
  padding-left: 20px;
  background-color: #4ea1ff;
  background-image: url(../img/pattern.png);
  background-size: 30%;
}

header .logo {
  width: 200px;
}

/**** Main ****/

section#top .dida {
  color: #8F8F8F;
  padding-bottom: 20px;
}

section#top .dida .name {
  color: #53A8D6;
}

section#top .dida .date {
  font-size: .8rem;
}

section#top .caption {
  font-size: .8rem;
}

section#table table thead {
  background-color: #1EAAE6;
  color: white;
}

section#table table .odd {
  background-color: #B3E5F2;
}