* {
  margin: 0;
}

body {}

main,
footer {
  padding: 20px;
}

h1 {
  font-size: 2.5em;
}

/******header*****/
header {
  padding-top: 40px;
  padding-left: 20px;
  background-color: #4ea1ff;
  background-image: url(../img/pattern.png);
  background-size: 30%;
}

header .logo {
  width: 200px;
}

/**** Main ****/

section#top .dida {
  color: #8F8F8F;
}

section#top .dida .name {
  color: #53A8D6;
}

section#top .dida .date {
  font-size: .8rem;
}